<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card color="tertiary">
    <img
      src="https://images-americanas.b2w.io/produtos/3199090997/imagens/calculadoras-basicas-do-escritorio-offidix-calculadora-eletronica-de-energia-dupla-solar-e-bateria-portatil-grande-calculadora-lcd-grande-numeros-calculadora-de-desktop-grande-tamanho/3199090997_1_large.jpg"
      alt="Calculadora">
    <ion-item>
      <ion-header>
      <ion-card-subtitle class="subtitle">Alunos desse app</ion-card-subtitle>
      <ion-card-title class="nome"><a href="https://github.com/joa0-182" target="_blank">João Pedro Maria</a></ion-card-title>
      <ion-card-title class="nome"><a href="https://github.com/willian1997" target="_blank">Willian R. Ferreira</a></ion-card-title>
    </ion-header>
    </ion-item>
  </ion-card>
</ion-content>
