* {
    padding: 0;
    margin: 0;
}

.operacao {
    font-weight: bolder;
}

.input {
    font-size: 2em;
    margin: 4px;
    text-align: end;
    font-weight: bold;
}

.resultado {
    font-weight: bolder;
}

.botao {
    background-color: rgb(201, 201, 201);
    margin: 5px;
    width: 50px;
    height: 50px;
}
