<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="operacao" >Operação:</ion-label>
    <ion-input  class="input"[(ngModel)]="operacao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="resultado">Resultado:</ion-label>
    <ion-input  class="input"[(ngModel)]="resultado"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" class="botaoPequeno">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" class="botaoPequeno">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" class="botaoPequeno">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" class="botaoPequeno">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="adicionarMemoria()" color="light" class="botaoPequeno">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" class="botaoPequeno">M</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Linha1-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  color="medium" class="botao">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparOperacao() color="medium" class="botao">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparMemoria() color="medium" class="botao">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparCaracter() color="medium" class="botao"> ---</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Linha2-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="medium" class="botao">1/x</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" class="botao">x²</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" class="botao">²√x</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)= "adicionarValor('/')"color="medium" class="botao">÷</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!--Linha3-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('7')" color="light" class="botao"  >7 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('8')" color="light" class="botao"  >8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('9')" color="light" class="botao" >9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('*')" color="medium" class="botao">X</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Linha4-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('4')" color="light" class="botao">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('5')"color="light" class="botao">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('6')"color="light" class="botao">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('-')"color="medium" class="botao">-</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Linha5-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('1')"color="light" class="botao">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('2')"color="light" class="botao">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('3')"color="light" class="botao">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('+')"color="medium" class="botao">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Linha6-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light" class="botao">+/-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('0')"color="light" class="botao">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('.')"color="light" class="botao">,</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "calcularOperacao()"color="primary" class="botao">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
